<div class="col aos-zoom-in" data-specialty="dentistry, pediatrics" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-yousef-alshehab.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. YOUSEF ALSHEHAB" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/placeholder-doctor_m.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. YOUSEF ALSHEHAB</h6>
<small class="text-muted">FAMILY DENTISTRY</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="urology" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-tariq-alshaiji.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. TARIQ ALSHAIJI" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.tariq-alshaiji.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. TARIQ ALSHAIJI</h6>
<small class="text-muted">CONSULTANT UROLOGIST</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="urology" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-abdullatif-alterki.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. ABDULLATIF ALTERKI" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.abdullatif-alterki.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. ABDULLATIF ALTERKI</h6>
<small class="text-muted">CONSULTANT UROLOGIST</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="ent,otology,plastic-surgery" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-ali-safar.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. ALI SAFAR" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.ali-safar.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. ALI SAFAR</h6>
<small class="text-muted">ENT,OTOLOGIST,FACIAL PLASTIC SURGEON</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="pediatrics" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-fahad-almukhaizeem.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. FAHAD ALMUKHAIZEEM" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.fahad-almukhaizeem.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. FAHAD ALMUKHAIZEEM</h6>
<small class="text-muted">CONSULTANT PEDIATRICIAN</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="gastroenterology" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-waleed-alazmi.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. WALEED ALAZMI" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/placeholder-doctor_m.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. WALEED ALAZMI</h6>
<small class="text-muted">CONSULTANT GASTROENTEROLOGY</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="mental-health" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-mariam-alawadi.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR.MARIAM ALAWADI" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.mariam-alawadhi.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR.MARIAM ALAWADI</h6>
<small class="text-muted">MENTAL HEALTH</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="surgery" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-ahmad-alsharhan.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. AHMAD ALSHARHAN" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.ahmad-alsharhan.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. AHMAD ALSHARHAN</h6>
<small class="text-muted">Laparoscopic & Weight-Loss (Bariatric) Surgery</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="pediatrics, allergy" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-ahmad-alkhabaz.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. AHMAD AlKHABAZ" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.ahmad-alkhabaz.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. AHMAD ALKHABAZ</h6>
<small class="text-muted">CHILD ALLERGY CLINIC</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="pediatrics, allergy" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-waleed-alherz.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. WALEED ALHERZ" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.waleed-alherz.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. WALEED ALHERZ</h6>
<small class="text-muted">CHILD ALLERGY CLINIC</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="dentistry, pediatrics" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-waleed-aldeeweli.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. WALEED ALDEEWELI" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.waleed-aldeeweli.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. WALEED ALDEEWELI</h6>
<small class="text-muted">Pediatric & Special Needs Dental Consultant</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="internal-geriatric-medicine" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-ali-alqattan.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. ALI AlQATTAN" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.ali-alqattan.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. ALI ALQATTAN</h6>
<small class="text-muted">INTERNAL&amp;GERIATRIC MEDICINE</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="eyes-vision" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-raed-behbehani.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. RAED BEHBEHANI" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.raed-behbehani.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. RAED BEHBEHANI</h6>
<small class="text-muted">CONSULTANT OPHTHALMOLOGIST</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="dentistry" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/rdh-mariam-alqattan.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="MQ DENTAL  RDH. MARIAM ALQATTAN" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/rdh.mariam-alqattan.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">RDH. MARIAM ALQATTAN</h6>
<small class="text-muted">DENTISTRY</small>
</div>
</div></a>
</div>
<div class="col aos-zoom-in" data-specialty="pediatrics,surgery" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-abdullah-aldahham.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. ABDULLAH ALDAHHAM" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/placeholder-doctor_m.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. ABDULLAH ALDAHHAM</h6>
<small class="text-muted">PEDIATRIC SURGEON</small>
</div>
</div></a>
</div>
<!-- <div class="col aos-zoom-in" data-specialty="atp-medical" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-arwa.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR.ARWA(ATP MEDICAL)" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/placeholder-doctor_f.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR.ARWA</h6>
<small class="text-muted">ATP MEDICAL</small>
</div>
</div></a>
</div> -->
<div class="col aos-zoom-in" data-specialty="eyes-vision" data-type="doctor">
<a class="text-decoration-none text-reset" href="doctor-pages/dr-jamal-alkandari.html"><div class="card card-glass h-100 text-center p-3 doctor-card glass-hover">
<img alt="DR. JAMAL ALKANDARI" class="card-img-top rounded-circle mb-2" src="assets/images/doctors-&amp;-clinics/dr.jamal-alkandari.png" style="height: 200px; width: 200px; object-fit: cover; margin: auto;"/>
<div class="card-body">
<h6 class="fw-semibold text-green mb-0">DR. JAMAL ALKANDARI</h6>
<small class="text-muted">CONSULTANT OPHTHALMOLOGIST</small>
</div>
</div></a>
</div>